<footer class="relative flex h-16 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <div class="border-t border-sky-500 pt-5 px-4 flex flex-row justify-between">
      <a class=" text-xs" href="https://www.freepik.com/free-vector/advanced-computer-skills-abstract-concept-illustration_11668770.htm#query=super%20programmer&position=1&from_view=search&track=ais">Image vectorjuice (Freepik)</a>
      <div class="text-sm font-semibold">Built with ♥ by Forte Zhuo</div>
    </div>
  </div>
</footer>
