<footer class="relative flex h-16 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <div class="border-t border-offset pt-5 px-4 flex flex-row justify-center">
      <div class="text-sm font-light">Built with ♥ by Forte Zhuo</div>
    </div>
  </div>
</footer>
